/* Mixins */

$main-color: #3D3B3E;
// defaut was #18BC9C
$secondary-color: #6A85A3;
// default was #2C3E50
$hover-color: rgba(106, 133, 163, 0.8);
// default was rgba(119, 136, 153, 0.9)
$darker-secondary-color: #4f6277;

/* Main */

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }



html, body{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}


// Fix for weird outline around container div
#maincontent:focus{
  outline: none;
  box-shadow:none;
}

p{
  font-size: 20px;
  .small{
    font-size: 16px;
  }
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // text-transform: uppercase;
  font-weight: 700;
}

hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
  &:after {
    content: "\f0a3";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
  }
}

hr.star-light {
  border-color: white;
  &:after {
    background-color: $main-color;
    color: white;
  }
}

hr.star-primary {
  border-color: #2C3E50;
  &:after{
    background-color: white;
    color: #2C3E50;
  }
}

.custom-hr {
  border-top: solid 5px;
  width: 106px;
  display: inline-block;
  margin-right: 0.3em;
  margin-left: 0.3em;
  padding-bottom: 6px;
}

.custom-hr-wrapper-light {
  margin-top: 18px;
  margin-bottom: 28px;
  color: white;
}

.custom-hr-wrapper-dark {
  margin-top: 18px;
  margin-bottom: 28px;
  color: $secondary-color;
}

.img-centered {
  margin: 0 auto;
}

/* Header */

header {
  background-image: url("http://i.imgur.com/vcRwnld.jpg");
background-repeat:no-repeat;
-webkit-background-size:contain;
-moz-background-size:contain;
-o-background-size:contain;
background-size:contain;
width: 100%;
background-position: 0 40px;
  background-attachment: fixed;
  text-align: center;
  clear: both;
  // background: $main-color;
  color: white;
  .container-fluid {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 250px;
    overflow-x: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  .intro-text {
    .skills {
      display: block;
      font-size: 1.75em;
      font-weight: 300;
    }
    .name{
      font-size: 4.75em;
    }
  }
}

@media (min-width: 768px) {
  header.container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
}

/* Navbar */


.navbar-custom {
  width: 100%;
  background: $secondary-color;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  &.affix {
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
  @media (min-width: 768px) {
     padding: 13px 0; //TODO ---- Find out why this is big??
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-brand {
    color: white;
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover,
    &:active,
    .active {
       color: $main-color;
    }
    &:focus {
      color: white;
    }
  }
  .navbar-nav{
    letter-spacing: 1px;
    li a {
      color: white;
      &:hover,
      &:focus {
        color: $main-color;
      }
    }
    li.active a{
      color: white;
      background: $main-color;
      &:hover,
      &:focus,
      &:active {
        color: white;
        background: $secondary-color;
      }
    }
  }
  .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
    &:hover,
    &:focus {
      background-color: $main-color;
      color: white;
      border-color: $main-color;
    }
  }
}

.collapsed {
  background-color: #6A85A3 !important;
  border-color: white !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top: none;
  box-shadow: none;
  // border-color: transparent;
  border-color: $main-color;
}


/* Sections */

section {
  padding: 100px 0;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  @media (max-width: 767px){
    padding: 75px 0;
    &.first {
      padding-top: 75px;
    }
  }
  &.success {
    background: $main-color;
    color: white;
  }
}

#about{
  .p-wrapper {
    @media (min-width: 1200px){
      height: 18em;
    }
    @media (min-width: 1400px){
      height: 17em;
    }
    @media (min-width: 1600px){
      height: 15em;
    }
    @media (min-width: 1800px){
      height: 14em;
    }
  }
  p {
    text-align: justify;
    margin: 10px;
  }
  h2 {
    color: $secondary-color;
  }
  .img-custom {


  //     border: 12px solid #fffaf0;
  // border-bottom: 90px solid #fffaf0;
  // -webkit-box-shadow: 3px 3px 3px #888;
  // -moz-box-shadow: 3px 3px 3px #888;
  // box-shadow: 3px 3px 3px #888;
  //   &:after {
  //     content: attr(title);
  //   }
  }
}

.polaroid {
  max-width: 555px;
  display: block;
  margin: 0 auto;
  border: solid 20px;
  border-color: #FEFEFD;
  background-color: #FEFEFD;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid-container {
  text-align: center;
  padding: 10px 22px;
  height: 5.5em;
  @media (max-width: 400px) {
    height: 8.5em;
  }
}

.polaroid p1 {
  color: #0F0807;
  font: 18px/22px 'Patrick Hand', cursive;
  bottom: 0;
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
}

/* Portfolio Items */


// .row-fix {
//   display: -webkit-flex;
//   display: flex;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-align-items: baseline;
//   align-items: baseline;
//   flex-wrap: wrap;
// }



#portfolio {
  background-image: url("../img/background/woodbackgroundsmall.jpeg");
  background-repeat:no-repeat 0 0 fixed;
-webkit-background-size:contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;
width: 100%;
background-position:center;
  background-attachment: fixed;
  // background: $main-color;
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .img-thumbnail {
    background-color: #defcfc;
    // TODO change...?
    border-color: #d7f2f2;
  }
  a{
    cursor: pointer;
  }
  h2 {
    color: white;
  }
  h3,
  p{
    text-transform: none;
    font-size: 1.8em;
    text-align: center;
    color: white;
    @media(max-width: 1082px) {
      font-size: 1.5em;
    }
    @media(max-width: 918px) {
      font-size: 1.2em;
    }
    @media(max-width: 767px) {
      padding-top: 25px;
      font-size: 2.1em;
    }
  }
  .portfolio-item {
    margin: 0 0 15px;
    right: 0;
    @media (min-width: 767px) {
      margin: 0 0 30px;
    }
    .portfolio-link {
      display: block;
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      .caption {
        background: $hover-color;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        border-radius: 4px;
        &:hover {
          opacity: 1;
        }
        .caption-content {
          position: absolute;
          width: 100%;
          height: 20px;
          font-size: 20px;
          text-align: center;
          top: 50%;
          margin-top: -12px;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4{
            margin: 0;
          }
        }
      }
    }
  }
}

#portfolio * {
  z-index: 2;
}


/* Contact Form */

#contact {
  h2{
    color: $secondary-color;
  }
  .p-wrapper {
  @media (min-width: 1200px){
    height: 19em;
  }
  @media (min-width: 1400px){
    height: 18em;
  }
  @media (min-width: 1600px){
    height: 16em;
  }
}
}

#contact #success {  // very sloppy way of doing it TODO fix
  margin-top: 20px;
}


//Make text bigger??
// textarea:focus + label,
// textarea:valid + label {
//   top: -150px;
//   font-size: 12px;
//   color: #333;
// }

textarea {
  text-align: center;
  font-size: 4.5em !important;
  max-height: 127px;
  @media (max-width: 500px) {
    font-size: 3.2em !important;
  }
}

textarea:focus,
textarea:valid {
  text-align: left;
  font-size: 1.7em !important;
}

.message-input {
  padding-top: 0px !important;
  padding-bottom: 26px !important;
  // font-size: 48px;
}

.floating-label-form-group {
  position: relative;
  // margin-bottom: 0;
  // padding-bottom: 2em;
  // border-bottom: 1px solid #eeeeee;
  input,
  textarea {
    z-index: 1;
    // margin-bottom: 20px;
    position: relative;
    // padding-right: 0;
    // padding-left: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #d3d1d1;
    border-radius: 0;
    font-size: 1.7em;
    background: none;
    box-shadow: none !important;
    resize: none;
    &:focus,
    {
      border-color: $secondary-color;
    }
  }
  label {
    display: block;
    z-index: 0;
    position: relative;
    // top: 2em;
    margin: 0;
    color: #d3d1d1;
    font-size: 1.7em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.6s ease,opacity 0.6s ease;
    -moz-transition: top 0.6s ease,opacity 0.6s ease;
    -ms-transition: top 0.6s ease,opacity 0.6s ease;
    transition: top 0.6s ease,opacity 0.6s ease;
    &:focus {
      color: $main-color;
    }
  }
}

// input:hover + label {
//   display: none;
// }


// .floating-label-form-group:not(:first-child) {
//   padding-left: 14px;
//   border-left: 1px solid #eeeeee;
// }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: $secondary-color;
}

// form .row:first-child .floating-label-form-group {
//   border-top: 1px solid #eeeeee
// }

/* Modals */

.modal-open {
  padding-right: 0 !important;
  overflow: hidden;
}


.portfolio-modal {
  .modal-content {
    margin: 40px;
    // border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 75%;
    padding: 35px 0;
    text-align: center;
    h2 {
      color: $secondary-color;
      margin: 0;
      font-size: 3em;
    }
    p {
      text-align: justify;
    }
    img{
      -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      margin-bottom: 30px;
    }
    .item-details {
      margin: 30px 0;
    }
  }
  .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 1;
    @media (max-width: 767px) {
      display: none;
    }
    &:hover {
      opacity: 0.3;
    }
    .lr {
      height: 75px;
      width: 1px;
      margin-left: 35px;
      background-color: $secondary-color;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      /* Safari and Chrome */
      z-index: 1051;
    }
    .lr .rl {
      height: 75px;
      width: 1px;
      background-color: $secondary-color;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052;
    }
  }
  .modal-backdrop {
    opacity: 0;
    display: none;
  }
}

.live-demo {
    font-size: 1.4em;
    a{
      color: $secondary-color;
      text-decoration: none;
      &:hover {
        color: $main-color;
      }
    }
  }

/* Footer */

footer{
  color: white;
  .upwork {
    max-width: 320px;
  }
  .cleo {
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    max-width: 250px;
    overflow-x: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  h3 {
    margin-bottom: 30px;
  }
  a:hover {
    color: none;
  }
  .footer-above {
    padding-top: 50px;
    background-color: $secondary-color;
  }
  .footer-col {
    margin-bottom: 50px;
  }
  .footer-below {
    padding: 25px 0;
    background-color: $darker-secondary-color;
  }
}

/* Buttons */

.btn-custom {
  background-color: $secondary-color;
  color: white;
  &:hover,
  &:focus {
    background-color: $darker-secondary-color;
    color: white;
    outline: none;
  }
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $main-color;
    background: white;
    border: solid 2px white;
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $secondary-color;
  border-color: $secondary-color;
}
.btn-primary .badge {
  color: $secondary-color;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: $main-color;
  border-color: $main-color;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #2a292b; // TODO change hover to darker or ligher???
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: $main-color;
  border-color: $main-color;
}
.btn-success .badge {
  color: $main-color;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 55px;
  width: 55px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  .fa-github {
    // font-size: 35px;
  }
}

/* Scroll */

.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
  .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px;
  }
}

#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: $main-color;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
